@use 'variables.scss' as *;

// Reset for all elements except headings
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Biryani", sans-serif;
    font-optical-sizing: auto;
    font-style: $font-weight-normal;
    color: $base-text-color;
}

// Specific font for all heading tags
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif JP", serif;
    font-weight: $font-weight-medium; // Optional, you can adjust
}

.layout {
    margin: 80px auto;

    .title {
        font-weight: $font-weight-medium;
        text-align: center;
        font-size: $font-size-h1;
        line-height: $line-height-h1;
    }

}
