@use 'variables.scss' as *;

.register-session {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    padding: 0 16px;

    .register-content {
        text-align: center;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: $font-size-h2;
            line-height: $line-height-xl;
        }

        .subtitle {
            font-size: $font-size-sm;
            line-height: $line-height-xsm;
            margin-top: 14px;
            margin-bottom: 20px;
        }

        .description {
            font-size: $font-size-2xsm;
            line-height: $line-height-2xsm;
            color: $grey-color;
            margin-top: 20px;
            margin-bottom: 32px;
        }

        .button-layout {
            display: flex;
            justify-content: center;
            gap: 48px;
        }
    }

}


// tablet small below
@media screen and (max-width: $breakpoint-tablet-small) {
    .register-session {
        margin: 48px 0px;

        .register-content {

            .subtitle {
                margin-top: 4px;
                margin-bottom: 8px;
            }

            .description {
                margin-top: 8px;
                margin-bottom: 8px;
            }

        }
    }
}


// mobile below
@media screen and (max-width: $breakpoint-mobile) {
    .register-session {
        margin: 40px 0px;

        .register-content {
            .subtitle {
                margin-top: 8px;
                margin-bottom: 16px;
            }

            .description {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }

    }
}
