// color variables for the project
$base-text-color: #000000;
$white-color: #ffffff;
$light-brown-color: #C6A26D;

// font sizes
$font-size-h1: 48px;
$font-size-xl: 20px;

// line heights
$line-height-h1: 64px;
$line-height-xl: 48px;
